div {
  text-align: center;
}


.title {
  padding-top: 5%;
  padding-bottom: 5%;
}


#btcPrice {
  margin-top: 2%;
  display: inline-block;
}

/*
.top {
  background-color: #f7931a;
}

.bottom {
  background-color: #f7931a;
} */

#help {
  margin: 1% auto;
}

/* #myChart {
  margin: 1% auto;
} */

.result {
  display: inline-block;
}

.hidden {
  display: none;
}

#bitcoin-help {
  width: 20rem;
  margin: 2% auto;
}

.reset {
  margin-left: 2%;
}

#bitcoin-rocket {
  margin: auto;
  border-color: black;
  width: 20rem;
}

.bitcoinFont {
  font-family: 'Ubuntu', sans-serif;
}


.current {
  width: 10rem;
}

.monthly-contribution {
  width: 10rem;
}

.bitcoin-amount {
  width: 10rem;
}

