div {
  text-align: center;
}


.title {
  padding-top: 5%;
  padding-bottom: 5%;
}


#btcPrice {
  margin-top: 2%;
  display: inline;
}

/*
.top {
  background-color: #f7931a;
}

.bottom {
  background-color: #f7931a;
} */

#help {
  margin: 1% auto;
}

/* #myChart {
  margin: 1% auto;
} */

.result {
  display: inline-block;
}

.hidden {
  display: none;
}

#bitcoin-help {
  width: 20rem;
  margin: 2% auto;
}

.reset {
  margin-left: 2%;
}

#bitcoin-rocket {
  margin: auto;
  border-color: black;
  width: 20rem;
}

.bitcoinFont {
  font-family: 'Ubuntu', 'Ubuntu Condensed', sans-serif;
}


.current {
  width: 10rem;
}

.monthly-contribution {
  width: 10rem;
}

.interest {
  width: 10rem;
}

.bitcoin-amount {
  width: 10rem;
}

#bitcoin-price {
  margin-top: 4rem;
}

.modal-body {
  text-align: left;
}

.bottom {
  padding-top: 2rem;
  padding-bottom: 1rem;
}


.header img {
  /* float: left; */
  width: 80px;
  height: 80px;
  /* background: black; */
}

.header h2 {
  position: relative;
  top: 18px;
  left: 10px;
}